* {
    color: white;
}

placeholder {
	color: rgba(255, 255, 255, 0.5);
}

::-webkit-input-placeholder {
	color: rgba(255,255,255,0.5);
}

:-moz-placeholder { /* Firefox 18- */
	color: rgba(255,255,255,0.5);
}

::-moz-placeholder {  /* Firefox 19+ */
	color: rgba(255,255,255,0.5);
}

:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.shownscrollbar::-webkit-scrollbar { background: transparent; height: 10px; }
.shownscrollbar::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 0.2); }
.dialogscrollbar::-webkit-scrollbar { background: transparent; width: 10px; }
.dialogscrollbar::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.2); }
::-webkit-scrollbar { background: transparent; }
::-webkit-scrollbar-thumb { background: transparent; }

#shortcutscontainer1 {
    overflow: overlay;
}
#shortcutscontainer1-nonium {
    scrollbar-color: white rgba(0, 0, 0, 0.6);
    overflow-x: auto;
    overflow-y: hidden;
}
.dialogscrollbar {
    scrollbar-color: white rgba(0, 0, 0, 0.2);
}

.shortcutscontainer {
    display: flex;
    margin: 10px 11px;
}

.grid-item {
    margin-right: 16px;
}

.sd-item {
    max-width: 220px;
    max-height: 38px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #ffffff4a, #ffffff3b) border-box !important;
    border: 1px solid #ffffff85;
}
.sd-item img {
    z-index: 10;
    border-radius: 4px;
    background: linear-gradient(to bottom, #ffffff0f, #ffffff00) padding-box !important;
}
.sd-dummy {
    border-color: transparent;
    background: none;
    margin: 0 -4px;
}

.toprightsection {
    position: absolute;
    right: 25px;
    top: 25px;
    line-height: 35px;
    z-index: 2;
}

.topleftsection {
    position: absolute;
    left: 25px;
    top: 25px;
    z-index: 1;
}

.timeclass {
	font-size: 20pt;
}

h1 {
	font-size: 20pt;
    font-weight: normal;
}

.btn {
  border: 1px solid rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  background: linear-gradient(to bottom, #ededed, #e7e7e7);
  color: black;
  min-height: 24px;
  min-width: 16px;
  padding: 8px 20px;
  text-decoration: none;
}

.disclaimers {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 84%;
  margin-bottom: 25px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: rgba(255,255,255,0.6);
}

.disclaimers a {
  color: rgba(243,248,255,0.6);
}

.mainpage * {
    text-shadow: 0 0 10px black;
}


/* 	SEARCH ENGINE
	----------------------------------------------------- */

.searchenginepopup {
    max-height: 70%;
    max-width: 80%;
    transform: translate(-50%, -50%);
    z-index: 9000001;
    display: none;
}

.searchenginesscrollbox {
    overflow: auto;
    height: calc(100% - 36px);
    width: 100%;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 9000000;
	top: 0;
    left: 0;
	display: none;
}

.searchenginescontainer {
    display: flex;
	margin-top: 0px;
    margin-right: auto;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-right: 10px;
}

.searchenginescontaineritem {
    display: flex;
    flex: 4px;
    padding: 10px;
    text-align: center;
    flex-basis: 230px;
    flex-grow: 0;
}

.searchenginesitem {
    max-height: 80px;
    max-width: 230px;
    flex: 1;
}



/* 	SHORTCUTS SCROLLING
	----------------------------------------------------- */

.direction_left {
    z-index:10;
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width: 20px;
}
.direction_right {
    z-index:10;
    position:fixed;
    top:0;
    right:0;
    height:100%;
    width: 20px;
}


/* 	COOKIES
	----------------------------------------------------- */
.cookiepopup {
    width: 510px;
    max-height: 70%;
    max-width: 80%;
    z-index: 9000002;
    display: none;
}




/* 	ICE
	----------------------------------------------------- */

.bottomleftfooter {
    position: absolute;
    left: 25px;
    bottom: 25px;
    z-index: 1;
}
