@define-color theme_button_background_normal #eeeeee;
@define-color theme_button_foreground_normal #000000;
@define-color theme_button_foreground_active #ffffff;
@define-color base_color @theme_base_color;
@define-color text_color @theme_text_color;
@define-color bg_color @theme_bg_color;
@define-color fg_color @theme_fg_color;
@define-color selected_fg_color @theme_selected_fg_color;
@define-color selected_bg_color @theme_selected_bg_color;

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: black;
    font-size: 10pt;
    cursor: default;
}

input[type="text"] {
    cursor: text;
    
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

a {
    color: #006aff;
    cursor: hand;
    font-weight: 600;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

placeholder {
	color: rgba(0, 0, 0, 0.5);
}

::-webkit-input-placeholder {
	color: rgba(0,0,0,0.5);
}

:-moz-placeholder { /* Firefox 18- */
	color: rgba(0,0,0,0.5);
}

::-moz-placeholder {  /* Firefox 19+ */
	color: rgba(0,0,0,0.5);
}

:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.5);
}

body {
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	background-color: #f1f1f1;
}

body, html {
    height: 100%;
}

.bulletpoints {
    font-size: 14px;
}

.extraspacing {
    line-height: 20pt;
}

h1, .h1 {
    font-size: 20pt;
    font-weight: normal;
    margin-top: 5px;
}

.shortcutscontainer {
    display: flex;
	margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    /*flex-direction: row;*/
    width: 84%;
    padding: 10px;
}

.grid-item {
  display: flex;
  flex: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  text-align: center;
}

.shortcutsiconscontainer {
    display: flex;
	margin-top: 0px;
    margin-right: auto;
    flex-wrap: wrap;
    /*flex-direction: row;*/
    width: 84%;
    padding-bottom: 10px;
    padding-right: 10px;
}

.smol-grid-item {
  display: flex;
  flex: 4px;
  padding-top: 8px;
  padding-bottom: 10px;
  text-align: center;
}

.smol-sd-item {
    float: left;
    max-width: 32px;
    max-height: 32px;
    padding: 4px;
    border: none;
}

.grid-item-contents {
    flex: 1;
}

.sd-item {
    float: center;
    max-width: 220px;
    max-height: 38px;
    padding: 0px;
    box-shadow: 0 0 rgba(0, 0, 0, 0.1), 0 0 2px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/* The navigation bar */
.topbar {
    overflow: hidden;
    background: linear-gradient(to bottom, #e6e6e6, #dcdcdc);
    border-bottom: 1px solid #bbbbbb;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.topbar-left {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 12pt;
}

.topbar a.button {
    float: right;
    color: white;
    background: linear-gradient(to bottom, #169B39, #159837);
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 12pt;
    border: 1px solid #12802E;
    margin: -1px 0;
    font-weight: normal;
}

/* Main content */
.main {
    margin-top: 65px; /* Add a top margin to avoid content overlay */
    margin-left: 20px;
    margin-right: 20px;
}

.btn-alt {
  border: 0;
  background: none;
  background-color: #fafafa;
  color: #006aff;
  padding: .5em 2em;
  text-decoration: none;
  font-size: 16px;
}

.btn {
  border: 1px solid rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  background: linear-gradient(to bottom, #ededed, #e7e7e7);
  color: black;
  min-height: 24px;
  min-width: 16px;
  padding: 8px 20px;
  text-decoration: none;
}

.suggested-btn-right {
  float: right;
  border: 1px solid #12802E;
  border-radius: 4px;
  background: linear-gradient(to bottom, #169B39, #159837);
  color: white;
  min-height: 24px;
  min-width: 16px;
  padding: 8px 20px;
  text-decoration: none;
}

.destructive-btn {
  border: 1px solid rgb(180, 38, 52);
  border-radius: 4px;
  background: linear-gradient(to bottom, #DB293B, #D62839);
  color: white;
  min-height: 24px;
  min-width: 16px;
  padding: 8px 20px;
  text-decoration: none;
  margin-right: 4px;
}

.tiletext-btn {
  border: 1px solid rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  background: linear-gradient(to bottom, #ededed, #e7e7e7);
  color: black;
  min-height: 24px;
  min-width: 16px;
  padding: 8px 20px;
  text-decoration: none;
}

/* 	TILE SETTINGS
	----------------------------------------------------- */

.tilesettingspopup {
    position: fixed;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    width: 670px;
    height: 350px;
    transform: translate(-50%, -50%);
    padding: 40px;
	background-color: #f1f1f1;
    z-index: 9000001;
    display: none;
    border-radius: 4px;
}

.overlay {
    margin-top: -65px;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 9000000;
	overflow-y: auto;
	display: none;
}
