* {
	margin: 0;
	padding: 0;
	text-decoration: none;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: white;
	font-size: 10pt;
    cursor: default;
}

input[type="text"] {
    cursor: text;
}

a {
    font-weight: 600;
}

placeholder {
	color: rgba(255, 255, 255, 0.5);
}

::-webkit-input-placeholder {
	color: rgba(255,255,255,0.5);
}

:-moz-placeholder { /* Firefox 18- */
	color: rgba(255,255,255,0.5);
}

::-moz-placeholder {  /* Firefox 19+ */
	color: rgba(255,255,255,0.5);
}

:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}

body {
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
}

body, html {
    height: 100%;
}

.shownscrollbar::-webkit-scrollbar { background: transparent; height: 10px; }
.shownscrollbar::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 0.2); }
.dialogscrollbar::-webkit-scrollbar { background: transparent; width: 10px; }
.dialogscrollbar::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.2); }
::-webkit-scrollbar { background: transparent; }
::-webkit-scrollbar-thumb { background: transparent; }

#shortcutscontainer1 {
    overflow: overlay;
}
#shortcutscontainer1-nonium {
	  scrollbar-width: thin;
	  scrollbar-color: rgba(0.582, 0.582, 0.582, 0.582) transparent;
    overflow-x: auto;
    overflow-y: none;
}

.shortcutscontainer {
    display: flex;
    margin: 16px 17px;
}

.grid-item {
    margin-right: 16px;
}

.grid-item-contents {
    flex: 1;
}

.sd-item {
    max-width: 220px;
    max-height: 38px;
}

.toprightsection {
    position: absolute;
    right: 25px;
    top: 25px;
    line-height: 35px;
    z-index: 2;
}

.topleftsection {
    position: absolute;
    left: 25px;
    top: 25px;
    z-index: 1;
}

.blackscreen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: black;
}

.timeclass {
	font-size: 20pt;
}

.enginearea {
	font-size: 20pt;
}
.enginearea a {
    font-size: 20pt;
}

h1 {
	font-size: 20pt;
    font-weight: normal;
}

.disclaimers {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 84%;
  margin-bottom: 25px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: rgba(255,255,255,0.6);
}

.disclaimers a {
  color: rgba(243,248,255,0.6);
}

.parallax {
    /* The image used */
    background-image: url("");
    background-color: black;

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* 	SEARCH BOX
	----------------------------------------------------- */

#input input {
	font-size: 100px;
	font-family: 'Inter Extra Light', 'Open Sans Light', 'Segoe UI', 'Helvetica Neue', 'Roboto', sans-serif;
	background: none;
	width: 100%;
	outline: 0;
	color: rgba(255,255,255,1);
	border: 0px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
	-webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1));
	filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1));
}


/* 	SEARCH ENGINE
	----------------------------------------------------- */

.searchenginepopup {
    position: fixed;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    width: 530px;
    max-height: 70%;
    transform: translate(-50%, -50%);
    padding: 40px;
	background-color: #f1f1f1;
    z-index: 9000001;
    display: none;
    border-radius: 4px;
    color: black;
}
.searchenginepopup * {
    color: black;
}

.searchenginesscrollbox {
    overflow: auto;
    height: calc(100% - 36px);
    width: 100%;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 9000000;
	top: 0;
    left: 0;
	display: none;
}

.searchenginescontainer {
    display: flex;
	margin-top: 0px;
    margin-right: auto;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-right: 10px;
}

.searchenginescontaineritem {
    display: flex;
    flex: 4px;
    padding: 10px;
    text-align: center;
    flex-basis: 230px;
    flex-grow: 0;
}

.searchenginesitem {
    max-height: 80px;
    max-width: 230px;
    flex: 1;
}



/* 	SHORTCUTS SCROLLING
	----------------------------------------------------- */

.direction_left {
    z-index:10;
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width: 20px;
}
.direction_right {
    z-index:10;
    position:fixed;
    top:0;
    right:0;
    height:100%;
    width: 20px;
}



/* 	GOODBYE BROWSER
	----------------------------------------------------- */
.center {
    align: center;
    text-align: center;
    position: fixed;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    width: 64%;
    transform: translate(-50%, -50%);
}
