/* Generic Feren OS website CSS (Basic style overrides for less capable browsers) - REDESIGN, work in progress, do NOT use yet */
@import 'colors.css';

* {
    backdrop-filter: none;
}

.window { /* Basic style overrides for titlebar area */
    background-color: var(--basic-window-color);
    color: white;
    box-shadow: inset 0 0 1px 1px #ffffff66, inset 0 0 1px 1px var(--basic-window-color), 0 0 1px 1px #00000066, 0 0 1px 1px var(--basic-window-color)
}

.header {
    box-shadow: inset 0 -1px 1px #ffffff66, 0 1px 1px #00000066, 0 0 1px 1px var(--basic-window-color);
	background-image: linear-gradient(to bottom, #474747, #383838);
    color: white;
}
.footer {
    box-shadow: inset 0 1px 1px #ffffff66, 0 -1px 1px #00000066, 0 0 1px 1px var(--basic-window-color);
	background-image: linear-gradient(to bottom, #474747, #383838);
    color: white;
}
