:root {
--error_color:#dc293b;
--error_color_insensitive:#e9a1a9;
--insensitive_base_color:#e9e9e9;
--insensitive_base_fg_color:#979797;
--insensitive_bg_color:#d2d2d2;
--insensitive_fg_color:#888888;
--insensitive_selected_bg_color:#d2d2d2;
--insensitive_selected_fg_color:#888888;
--link_color:#2980b9;
--link_visited_color:#7f8c8d;
--success_color:#169c39;
--success_color_insensitive:#9fcbaa;
--theme_base_color:#f4f4f4;
--theme_bg_color:#dcdcdc;
--theme_button_background_insensitive:#ececec;
--theme_button_background_normal:#f8f8f8;
--theme_button_foreground_active:#ffffff;
--theme_button_foreground_active_insensitive:#888888;
--theme_button_foreground_insensitive:#9a9a9a;
--theme_button_foreground_normal:#000000;
--theme_fg_color:#000000;
--theme_selected_bg_color:#006aff;
--theme_selected_fg_color:#ffffff;
--theme_text_color:#000000;
--theme_titlebar_background:#006aff;
--theme_titlebar_foreground:#ffffff;
--tooltip_background:#fbfbfb;
--tooltip_border:#bcbcbc;
--tooltip_text:#000000;
--warning_color:#e36b1a;
--warning_color_insensitive:#ebb994;


--ferengtk_darkening_bg:rgba(0, 0, 0, 0.08);
--ferengtk_border_generic:rgba(0, 0, 0, 0.19);
--ferengtk_selected_items_border:rgba(0, 0, 0, 0.23);
}
