:root {
--error_color: 220, 41, 59;
--error_color_insensitive: 233, 161, 169;
--insensitive_base_color: 233, 233, 233;
--insensitive_base_fg_color: 151, 151, 151;
--insensitive_bg_color: 210, 210, 210;
--insensitive_fg_color: 136, 136, 136;
--insensitive_selected_bg_color: 210, 210, 210;
--insensitive_selected_fg_color: 136, 136, 136;
--link_color: 41, 128, 185;
--link_visited_color: 127, 140, 141;
--success_color: 22, 156, 57;
--success_color_insensitive: 159, 203, 170;
--theme_base_color: 244, 244, 244;
--theme_bg_color: 220, 220, 220;
--theme_button_background_insensitive: 236, 236, 236;
--theme_button_background_normal: 248, 248, 248;
--theme_button_foreground_active: 255, 255, 255;
--theme_button_foreground_active_insensitive: 136, 136, 136;
--theme_button_foreground_insensitive: 154, 154, 154;
--theme_button_foreground_normal: 0, 0, 0;
--theme_fg_color: 0, 0, 0;
--theme_selected_bg_color: 0, 106, 255;
--theme_selected_fg_color: 255, 255, 255;
--theme_text_color: 0, 0, 0;
--theme_titlebar_background: 0, 0, 0;
--theme_titlebar_foreground: 255, 255, 255;
--tooltip_background: 251, 251, 251;
--tooltip_border: 188, 188, 188;
--tooltip_text: 0, 0, 0;
--warning_color: 227, 107, 26;
--warning_color_insensitive: 235, 185, 148;

/* Buttons */
--button-border-top: 195, 195, 195;
--button-gradient-bottom: 235, 235, 235;
--button-hover-top: 198, 219, 249;
--button-hover-bottom: 187, 209, 239;
--button-hover-border-gradient-top: 156, 177, 207;
--button-pressed: 219, 219, 219;
--button-pressed-border-gradient-top: 156, 156, 156;
--button-pressed-border-gradient-bottom: 195, 195, 195;
--button-disabled-gradient-top: 236, 236, 236;
--button-disabled-gradient-bottom: 224, 224, 224;
--button-disabled-border-gradient-bottom: 60, 127, 221;

/* Misc. */
--basic-window-color: #646464;
--ferengtk_darkening_bg: rgba(0, 0, 0, 0.08);
--ferengtk_border_generic: rgba(0, 0, 0, 0.19);
--ferengtk_selected_items_border: rgba(0, 0, 0, 0.23);
}
