/* Generic Feren OS website CSS - REDESIGN, work in progress, do NOT use yet */
@import 'colors.css';

body, html {
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
}
html {
    background-color: rgb(var(--theme_base_color));
    color: rgb(var(--theme_fg_color));
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Inter, "Segoe UI Variable", "Segoe UI", Helvetica, Roboto, Tahoma, sans-serif;
    font-size: 10pt;
    cursor: default;
}
a {
    font-weight: 600;
}
input[type="text"] {
    cursor: text;
}


/*** PARALLAX BACKGROUNDS ***/
.parallax {
    /* The image used */
    background-image: url("");
    background-color: black;

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*** HEADER - Shell type ***/
.header {
    min-height: 38px;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    text-align: center;
    box-shadow: inset 0 -1px 1px #ffffff66, 0 1px 1px #00000066;
	background-image: linear-gradient(to bottom, #1a1a1a8f, #0000008f);
    backdrop-filter: blur(70px);
    color: white;
}
.header.flex {
    display: flex;
    align-items: stretch;
}

.header button {
    color: white !important;
    background: linear-gradient(to bottom, #ffffff4a, #ffffff3b) padding-box !important;
    border: 1px solid #ffffff85;
    margin: 7px;
    padding: 8px 10px;
}
.header button.flat {
    background: none !important;
    border-color: transparent !important;
}

.header .inputcontainer {
    display: flex;
    
    background-color: #ffffff33;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 7px;
    padding: 8px 10px;
    border: 1px solid #ffffff85;
}
.header .inputcontainer input,
.header .inputcontainer form {
    flex-grow: 1;
    height: 100%;
    
    background: none;
    background-color: none;
    border: none;
}
.header .inputcontainer img {
    vertical-align: center;
}

.header .fullwidth {
    width: calc(100% - 14px);
}


/*** FOOTER - Shell type ***/
.footer {
    min-height: 38px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    box-shadow: inset 0 1px 1px #ffffff66, 0 -1px 1px #00000066;
	background-image: linear-gradient(to bottom, #1a1a1a8f, #0000008f);
    backdrop-filter: blur(70px);
    color: white;
}


/*** WINDOWS ***/
.window { /* fake window decorations and CSA for dialogs, etc. */
    position: fixed;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    font-family: "Inter";
    background-color: rgba(var(--theme_titlebar_background), 0.6);
    background-image: url("img/titlebar/top.png");
    background-repeat: no-repeat;
    background-size: 100% 16px;
    color: rgb(var(--theme_titlebar_foreground));
    box-shadow: inset 0 0 1px 1px #ffffff66, inset 0 0 1px 1px rgba(var(--theme_titlebar_background), 0.6), 0 0 1px 1px #00000066, 0px 0px 16px rgba(0, 0, 0, 0.25), 0px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    backdrop-filter: blur(70px);
}
.title-bar { /* window titlebar */
    margin: 0px 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 10pt;
    height: 30px;
}

.title-bar-text {
    margin: auto;
    text-align: center;
}

.title-bar-contents {
    display: flex;
    margin: auto;
    min-height: 27px;
    margin: 0 1px;
}
.title-bar-contents button {
    min-width: 38px;
    max-height: 28px;
    margin: 0 1px;
    border-radius: 0 0 4px 4px;
    border-width: 0;
    
    background: none;
    background-repeat: no-repeat !important;
    background-position: center !important;
    box-shadow: none;
    border-color: transparent;
    background-color: transparent;
}

.title-bar-contents button[titlebtn-type="Help"] {
    background: url('img/titlebar/button-help.svg');
}
.title-bar-contents button[titlebtn-type="Help"]:not(:disabled):hover {
    background: url('img/titlebar/button-help-hover.svg');
}
.title-bar-contents button[titlebtn-type="Help"]:not(:disabled):active {
    background: url('img/titlebar/button-help-pressed.svg');
}

.title-bar-contents button[titlebtn-type="Close"] {
    background: url('img/titlebar/button-close.svg');
}
.title-bar-contents button[titlebtn-type="Close"]:not(:disabled):hover {
    background: url('img/titlebar/button-close-hover.svg');
}
.title-bar-contents button[titlebtn-type="Close"]:not(:disabled):active {
    background: url('img/titlebar/button-close-pressed.svg');
}

.window-body { /* window contents */
    background-color: rgb(var(--theme_bg_color));
    color: rgb(var(--theme_fg_color));
    padding: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 0px 1px 1px 1px;
}
.window-body * {
    color: rgb(var(--theme_fg_color));
}


/*** BUTTONS ***/

button {
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background 100ms;
    padding: 4px 6px;
}
button * {
    vertical-align: middle;
}
button:not(:disabled) {
    background: linear-gradient(to bottom, rgb(var(--theme_button_background_normal)),
                                rgb(var(--button-gradient-bottom))) padding-box,
                                linear-gradient(to bottom, rgb(var(--button-border-top)), rgb(var(--button-border-top)) 50%,
                                rgb(var(--theme_selected_bg_color)) 67%, rgb(var(--theme_selected_bg_color))) border-box;
    color: rgb(var(--theme_button_foreground_normal));
}
button:not(:disabled):hover {
    background: linear-gradient(to bottom, rgb(var(--button-hover-top)),
                                rgb(var(--button-hover-bottom))) padding-box,
                                linear-gradient(to bottom, rgb(var(--button-hover-border-gradient-top)), rgb(var(--button-hover-border-gradient-top)) 50%,
                                rgb(var(--theme_selected_bg_color)) 67%, rgb(var(--theme_selected_bg_color))) border-box;
}
button:not(:disabled):active {
    background: linear-gradient(to bottom, rgb(var(--button-pressed)),
                                rgb(var(--button-pressed))) padding-box,
                                linear-gradient(to bottom, rgb(var(--button-pressed-border-gradient-top)), rgb(var(--button-pressed-border-gradient-top)) 33%,
                                rgb(var(--button-pressed-border-gradient-bottom)) 50%, rgb(var(--button-pressed-border-gradient-bottom))) border-box;
}
button:disabled {
    background: linear-gradient(to bottom, rgb(var(--button-disabled-gradient-top)),
                                rgb(var(--button-disabled-gradient-bottom))) padding-box,
                                linear-gradient(to bottom, rgb(var(--button-border-top)), rgb(var(--button-border-top)) 50%,
                                rgb(var(--button-disabled-border-gradient-bottom)) 67%, rgb(var(--button-disabled-border-gradient-bottom))) border-box;
    color: rgb(var(--theme_button_foreground_insensitive));
}
