/* Generic Feren OS website CSS - REDESIGN, work in progress, do NOT use yet */
@import 'colors.css';

.window { /* fake window decorations and CSA for dialogs, etc. */
    position: fixed;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    font-family: "Inter";
    background-color: rgba(var(--theme_titlebar_background), 0.6);
    background-image: url("img/titlebar/top.png");
    background-repeat: no-repeat;
    background-size: 100% 16px;
    color: rgb(var(--theme_titlebar_foreground));
    box-shadow: inset 0 0 1px 1px #ffffff66, inset 0 0 1px 1px rgba(var(--theme_titlebar_background), 0.6), 0 0 1px 1px #00000066, 0px 0px 16px rgba(0, 0, 0, 0.25), 0px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    backdrop-filter: blur(70px);
}
.title-bar { /* window titlebar */
    margin: 0px 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 10pt;
    height: 30px;
}

.title-bar-text {
    margin: auto;
    text-align: center;
}

.title-bar-contents {
    display: flex;
    margin: auto;
    min-height: 27px;
    margin: 0 1px;
}
.title-bar-contents button {
    min-width: 38px;
    max-height: 28px;
    margin: 0 1px;
    border-radius: 0 0 4px 4px;
    
    background-repeat: no-repeat !important;
    background-position: center !important;
    box-shadow: none;
    border-color: transparent;
    background-color: transparent;
    transition: background 100ms;
}

.title-bar-contents button[titlebtn-type="Help"] {
    background-image: url('img/titlebar/button-help.svg');
}
.title-bar-contents button[titlebtn-type="Help"]:not(:disabled):hover {
    background-image: url('img/titlebar/button-help-hover.svg');
}
.title-bar-contents button[titlebtn-type="Help"]:not(:disabled):active {
    background-image: url('img/titlebar/button-help-pressed.svg');
}

.title-bar-contents button[titlebtn-type="Close"] {
    background-image: url('img/titlebar/button-close.svg');
}
.title-bar-contents button[titlebtn-type="Close"]:not(:disabled):hover {
    background-image: url('img/titlebar/button-close-hover.svg');
}
.title-bar-contents button[titlebtn-type="Close"]:not(:disabled):active {
    background-image: url('img/titlebar/button-close-pressed.svg');
}

.window-body { /* window contents */
    background-color: rgb(var(--theme_bg_color));
    color: rgb(var(--theme_fg_color));
    padding: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 0px 1px 1px 1px;
}
